<div class="container">
  <h1 class="text-center mb-3">CHANGE GENERATOR</h1>
  <div class="row text-left">
    <div class="col-lg-2"></div>
    <div
      class="col-lg-4 col-md-12 col-sm-12 d-flex flex-column justify-content-center"
    >
      <form (submit)="compute(payment, price, $event)">
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="floatingInput"
            placeholder=""
            #price
            autocomplete="off"
            min="0"
          />
          <label for="floatingInput">Price</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="floatingInput"
            placeholder=""
            #payment
            autocomplete="off"
            min="0"
          />
          <label for="floatingInput">Payment</label>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-lg rounded-0 mb-3 w-100"
        
        >
          Compute
        </button>
      </form>
      <h1 class="heading-1 text-success" *ngIf="paymentVal !== 0">
        Payment: {{ paymentVal }}
      </h1>
      <h1 class="heading-1 text-danger mb-3" *ngIf="priceVal !== 0">
        Price: {{ priceVal }}
      </h1>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2 class="heading-1 text-info">CHANGE: {{ change }}</h2>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="paymentVal !== 0">
            <div class="col-12" *ngIf="billsCount['thousand'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["thousand"] : null
              }}</span>
              <img
                class="bills"
                src="https://www.theibns.org/joomla/images/stories/bnoy2022/PHL-1000-Front.png"
                alt="thousand bill"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['fiveHundred'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["fiveHundred"] : null
              }}</span>
              <img
                class="bills"
                src="https://en.numista.com/catalogue/photos/philippines/5f679d2a104935.39070146-original.jpg"
                alt="five hundred bill"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['oneHundred'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["oneHundred"] : null
              }}</span>
              <img
                class="bills"
                src="https://upload.wikimedia.org/wikipedia/en/3/36/PHP_100_obv_%28new%29.jpg"
                alt="one hundred bill"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['fifthy'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["fifthy"] : null
              }}</span>
              <img
                class="bills"
                src="https://en.numista.com/sales_archive/pictures/646b2a158b9b8.jpg"
                alt="fifthy peso bill"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['twenthy'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["twenthy"] : null
              }}</span>
              <img
                class="coins"
                src="https://upload.wikimedia.org/wikipedia/commons/b/bd/20_peso_Coin_Philippines_font.png"
                alt=" twenty peso coin"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['ten'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["ten"] : null
              }}</span>
              <img
                class="coins"
                src="https://en.numista.com/catalogue/photos/philippines/6138689cc0f892.17655893-original.jpg"
                alt=" ten peso coin"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['five'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["five"] : null
              }}</span>
              <img
                class="coins"
                src="https://i.ucoin.net/coin/41/354/41354426-1/philippines-5-piso-2017.jpg"
                alt="five peso coin"
              />
            </div>
            <div class="col-12" *ngIf="billsCount['one'] !== 0">
              <span class="values">{{
                billsCount ? billsCount["one"] : null
              }}</span>
              <img
                class="coins"
                src="https://coin-brothers.com/photos/Philippines_Piso_1/2017-2019_06.11.2020_16.38.jpg"
                alt="one peso coin"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
